/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-padding: 10;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
    margin: 10;
    -fx-background-color: darkblue;
}
.button{
    -fx-padding: 10 10 10 10 10;
    -fx-alignment: CENTER;
    -fx-spacing: 10 10 10 10;
    -fx-background-color: lightsteelblue;
    -fx-font-family: "Segoe Print";
}
.grid{
     -fx-padding: 10 10 10 10 10;
    -fx-alignment: CENTER;
    -fx-spacing: 10 10 10 10;
    
    margin: 10px;
    -fx-background-color: darkblue;
}
.hbox{
     -fx-padding: 10 10 10 10 10;
    -fx-alignment: CENTER;
    -fx-spacing: 10 10 10 10;
    
    margin: 10px;
    -fx-background-color: darkblue;
}

.label{
    -fx-alignment: CENTER;
    
    -fx-font-family: "Segoe Print";
    -fx-text-fill: white;
}

.bar{
    -fx-text-fill: white;
    -fx-background-color: blue;
    -fx-font-family: "Segoe Print";
}